@charset "UTF-8";

$primaryColor: #2d8cf0;
$primaryColorHover: #57a3f3;
$header-height: 64px;
$borderColor:#efeff5;

$white: white;

@mixin flex($align: center, $justify: space-between) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin inine-flex($align: center, $justify: space-between) {
    display: inline-flex;
    align-items: $align;
    justify-content: $justify;
}

// 单行隐藏
@mixin ellipse {
    overflow: hidden; //超出的文本隐藏
    text-overflow: ellipsis; //用省略号显示
    white-space: nowrap; //不换行
}

// 多行隐藏
@mixin ellipses {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; //将对象作为弹性伸缩盒子模型显示。
    -webkit-box-orient: vertical; // 从上到下垂直排列子元素
    -webkit-line-clamp: 2; //显示的行数
}